<div class="main_container">
    <div class="col-md-3 left_col menu_fixed">
        <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
                <a class="site_title"><i class="fa fa-align-left"></i> <span>Control de Visitas</span></a>
            </div>
            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
                <div class="profile_pic">
                    <img src="public/image/cucei_logo.png" class="profile_img">
                </div>
            </div>
            <br />
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                <div class="menu_section">
                    <ul class="nav side-menu">
                        <li ui-sref-active="active">
                            <a ui-sref="payments">
                                <i class="fa fa-credit-card"></i> Payments for semester
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="top-ten">
                                <i class="fa fa-trophy"></i> Top 10 payments
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jobs">
                                <i class="fa fa-address-book-o"></i> Employment
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sidebar-footer hidden-small">
                <a data-toggle="tooltip" data-placement="top" title="Logout" ui-sref="logout" class="pull-right">
                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                </a>
            </div>
            <!-- /menu footer buttons -->
        </div>
    </div>
    <!-- top navigation -->
    <div class="top_nav">
        <div class="nav_menu">
            <nav>
                <div class="nav toggle">
                    <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a  class="dropdown-toggle text-white" data-toggle="dropdown">
                            <b><i class="fa fa-cog"></i> Opciones</b>
                            <span class="caret"></span>
                        </a>

                       <ul class="dropdown-menu">
                            <li>
                               <a ui-sref="locations"><i class="fa fa-cogs"></i> Configurar areas de visitas</a>
                            </li>
                            <li>
                               <a ui-sref="logout"><i class="fa fa-sign-out"></i> Cerrar Sesion</a>
                            </li>
                       </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="right_col" role="main" ui-view>    
    </div>
</div>
<!-- Custom Theme Scripts -->
<script>
    $BODY = $('body'),
    $MENU_TOGGLE = $('#menu_toggle'),
    $SIDEBAR_MENU = $('#sidebar-menu'),
    $SIDEBAR_FOOTER = $('.sidebar-footer'),
    $LEFT_COL = $('.left_col'),
    $RIGHT_COL = $('.right_col'),
    $NAV_MENU = $('.nav_menu'),
    $FOOTER = $('footer');
    
    $MENU_TOGGLE.on('click', function() {
        console.log('clicked - menu toggle');
        
        if ($BODY.hasClass('nav-md')) {
            $SIDEBAR_MENU.find('li.active ul').hide();
            $SIDEBAR_MENU.find('li.active').addClass('active-sm').removeClass('active');
        } else {
            $SIDEBAR_MENU.find('li.active-sm ul').show();
            $SIDEBAR_MENU.find('li.active-sm').addClass('active').removeClass('active-sm');
        }

        $BODY.toggleClass('nav-md nav-sm');

        setContentHeight();
    });
    var setContentHeight = function () {
    // reset height
        $RIGHT_COL.css('min-height', $(window).height());

        var bodyHeight = $BODY.outerHeight(),
            footerHeight = $BODY.hasClass('footer_fixed') ? -10 : $FOOTER.height(),
            leftColHeight = $LEFT_COL.eq(1).height() + $SIDEBAR_FOOTER.height(),
            contentHeight = bodyHeight < leftColHeight ? leftColHeight : bodyHeight;

        // normalize content
        contentHeight -= $NAV_MENU.height() + footerHeight;

        $RIGHT_COL.css('min-height', contentHeight);
    };
</script>
