/*body{
    padding-top: 70px;
}
.fondoLogin {
	background: url('../image/fondo4.jpg') no-repeat center center fixed;
	background-size: cover;
}*/
.container-login{
	margin-top: 10%;
}
.pricing .title {
    background: rgba(0, 0, 112, 0.8);
}
.message {
    font-size: 14px !important;
    color: #469bc1;
}
/*.navbar-cfe {
	background-color: #009a6a;
	background-color: #000;
	color: white;
}*/
/*************** Estilos del sidebar ***************/
.left_col{
    background: #f5f5f5;
    border-right: 1px solid rgba(158, 158, 158, 0.84);
}
.navbar {
    background: #4a92cc;
}
.sidebar-footer {
    background: #4a92cc;
    padding:  0px;
}
.sidebar-footer a {
    background: #4a92cc;
    color: #000;
}
.sidebar-footer a:hover {
    background: #125437;
    color: #fff;
}
.nav.side-menu>li.active>a {
    background: linear-gradient(#4a92cc, #116db6), #2A3F54;
    color: white;
}
.nav.side-menu>li>a, .nav.child_menu>li>a  {
    color: #000;
}
.menu>li.active {
    border-right: 5px solid #19d0ad;
}
.nav.side-menu>li>a:hover {
    color: #000 !important;
}
a {
    color: #000;
    text-decoration: none;
}
.page-title .title_left {
    color: #000;
}
.input-group {
    margin-bottom: 0px;
}
.has-success {
    color: #06674a !important;
}
.error-form {
    color: red;
}
/********* Final de estilos del sidebar ************/

.logo_cfe {
	position: absolute;
	height: 116px;
	width: 150px;
    margin-top: -30px;
}
.text-white{
	color: #fff;
}
.well-cfe {
	background: linear-gradient( 45deg, #009a6a 80%, transparent 20% );
	color: #fff;
	border: 1px solid #009a6a;
}
.border-cfe {
	border: 1px solid #009a6a;
}
.form-control:focus {
	border-color: #009a6a;
}
.button-cfe {
	background-color: #1b8463;
	color: #fff;
}
.button-cfe:hover {
	background-color: #0d674b;
	color: #fff;
}
.nav>li>a:focus, .nav>li>a:hover, .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	background-color: #0d674b;
	color: #fff;
}
.container-fluid {
    padding: 15px;
}
@media screen and (min-width: 768px) {
	.container .jumbotron, .container-fluid .jumbotron {
    	padding-right: 15px;
    	padding-left: 15px;
	}
}
.tag-danger {
	background-color: #f2dede !important;
}
.tag-info {
	background-color: #009a6a !important;
	color: white !important;
}
.radio, .checkbox {
	margin: 0px 5px 10px 5px !important;
}
#capa {
    height: 100%;
}
canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1; 
}
.text-center {
	text-align: center;
}
.list-group-item {
    padding:  5px ;
}
.list-group {
    position: relative;
    width: 95%;
    z-index: 1000 !important;
    height: auto;
    max-height: 400px;
    overflow: auto;
    -webkit-box-shadow: -13px 13px 48px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: -13px 13px 48px -13px rgba(0,0,0,0.75);
    box-shadow: -13px 13px 48px -13px rgba(0,0,0,0.75); 
}
.visitors-list {
    margin: 10px !important;
}
/***** TOAST CSS*****/
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    position: fixed;
    top: 150px;
    right: 20px;
    visibility: hidden; /* Hidden by default. Visible on click */
    width: 300px; /* Set a default minimum width */
    height: 50px;
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #14a215; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1000; /* Add a z-index if needed */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/******* END TOAST STYLES **********/+
.#panel_catalog {
	background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	margin-bottom: 0px !important;
}

.profile_img {
    width: 150px !important;
    height: 250px !important;
    margin: 0 35% 0 35% !important;
}