<div class="right_col" role="main">
  <!-- top tiles -->
  	<div class="col-xs-12">
        <div class="x_panel tile">
            <div class="x_title">
                <h2>Selecciona el empleado para tu busqueda</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="dashboard-widget-content">
                    <form class="container-fluid" name="formSearch">
                        <div class="form-group col-xs-12 col-sm-6">
                            <label for="inputVisitors" class="control-label"> Empleados<span class="text-danger">*</span></label>
                            <input  type="text" 
                                    class="form-control"
                                    name="visitors"
                                    placeholder="Buscar Empleado"
                                    ng-change="employment.employee_list(1)"
                                    ng-model="employment.filter_visitor"
                                    ng-model-options="{debounce: 500}"
                                    ng-focus="employment.employee_list(1)"
                                    data-ng-blur="employment.destoy_list($event)"
                                >
                            <div ng-if="employment.teacher">
                                <b>Empleado:</b> {{employment.teacher}}
                            </div>
                            <div class="alert alert-warning alert-dismissible" role="alert" ng-if="employment.visitors.message">
                                <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                                <strong>No se encontraron resultados</strong>
                            </div>
                            <div class="list-group" ng-if="employment.teachers.length > 0">
                                <button 
                                    type="button"
                                    class="list-group-item"
                                    ng-repeat="employee in employment.teachers"
                                    ng-click="employment.add_employee(employee)">
                                    {{employee.name + " " +employee.last_name + " | " + employee.career }}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12" ng-if="employment.teacher">
        <div class="x_panel" style="height:600px;">
            <div class="x_title">
                <h2>Puestos que ha desempeñado <b><i>{{employment.teacher}}</i></b></h2>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-xs-12 col-md-6 col-lg-4" ng-repeat="(key , job) in employment.data.payments">
                            <div class="pricing">
                                <div class="title">
                                    <h1><i class="fa fa-address-book-o"></i> {{key}}</h1>
                                </div>
                                <div class="x_content">
                                    <div class="">
                                        <div class="pricing_features">
                                            <h4>
                                                <b><i class="fa fa-calendar-o"></i> Fecha que ejercio este puesto por primera vez:</b> <br>
                                                <small>{{job.anio_started + " " + job.mes_started}}</small>
                                            </h4>
                                            <h4>
                                                <b><i class="fa fa-calendar-times-o"></i> Fecha que ejercio este puesto por ultima vez:</b> <br>
                                                <small>{{job.anio_end + " " + job.mes_end}}</small>
                                            </h4><br>
                                        </div>
                                    </div>
                                    <div class="pricing_footer">
                                        <h4>
                                            <b><i class="fa fa-credit-card"></i> Salario Promedio:</b> <br>
                                            <small>{{job.total_salary / job.salarys | currency:"MNX $"}}</small>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>