<div class="right_col" role="main">
  <!-- top tiles -->
  	<div class="col-xs-12">
      	<div class="x_panel tile">
            <div class="x_title">
              	<h2>Configura tu busqueda</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
              	<div class="dashboard-widget-content">
                    <form class="container-fluid" name="formSearch">
              	         <div class="form-group col-xs-12 col-sm-6">
						  	<label for="sel1">Calendario:</label>
						  	<select class="form-control" id="sel1" ng-model="payment.calendar" ng-change="payment.payments_total()">
							    <option value="2013A">2013A</option>
							    <option value="2013B">2013B</option>
							    <option value="2014A">2014A</option>
							    <option value="2014B">2014B</option>
							    <option value="2015A">2015A</option>
							    <option value="2015B">2015B</option>
							    <option value="2016A">2016A</option>
							    <option value="2016B">2016B</option>
							    <option value="2017A" selected="selected">2017A</option>
						  	</select>
						</div>
						<div class="form-group col-xs-12 col-sm-6">
						  	<label for="sel1">Carrera:</label>
						  	<select class="form-control" id="sel2" ng-model="payment.career" ng-change="payment.payments_total()">
							    <option value="INCO" selected="selected">Ingeniería en computación</option>
							    <option value="INNI">Ingeniería en informática</option>
							    <option value="INBI">Ingeniería en biomédica</option>
							    <option value="INCE">Ingeniería en electrónica y comunicaciones</option>
						  	</select>
						</div>
                    </form>
              	</div>
            </div>
      	</div>
    </div>
  	<div class="col-xs-12">
  		<div class="x_panel tile">
            <div class="x_title">
                <h2>Resultados de la busqueda</h2>
                <div class="clearfix"></div>
            </div>
        	<div class="col-md-6">
          		<h3 class="count_top"><i class="fa fa-calendar"></i> Calendario</h3>
          		<div class="count">{{payment.calendar}}</div>
        	</div>
        	<div class="col-md-6">
          		<h3 class="count_top"><i class="fa fa-briefcase"></i> Carrera</h3>
          		<div>
    	      		<div class="count" ng-if="payment.career == 'INCO'">Ingeniería en computación</div>
    				<div class="count" ng-if="payment.career == 'INNI'">Ingeniería en informática</div>
    				<div class="count" ng-if="payment.career == 'INBI'">Ingeniería en biomédica</div>
    				<div class="count" ng-if="payment.career == 'INCE'">Ingeniería en electrónica y comunicaciones</div>
        		</div>
      		</div>
        	<div class="col-md-6">
          		<h3 class="count_top"><i class="fa fa-list-alt"></i> Total de Nominas pagas</h3>
          		<div class="count">{{payment.data.registros}}</div>
        	</div>
        	<div class="col-md-6">
          		<h3 class="count_top"><i class="fa fa-dollar"></i> Monto total</h3>
          		<div class="count">{{payment.data.total_payment | currency:"MNX $"}}</div>
        	</div>
	    </div>
    </div>