<div class="right_col" role="main">
  <!-- top tiles -->
  	<div class="col-xs-12">
      	<div class="x_panel tile">
            <div class="x_title">
              	<h2>Selecciona el semestre para tu busqueda</h2>
              	<div class="clearfix"></div>
            </div>
            <div class="x_content">
              	<div class="dashboard-widget-content">
                    <form class="container-fluid" name="formSearch">
                    	<div class="form-group col-xs-12 col-sm-6">
						  	<label for="sel1">Calendario:</label>
						  	<select class="form-control" id="sel1" ng-model="salary.calendar" ng-change="salary.all_top_ten()">
							    <option value="2013A">2013A</option>
							    <option value="2013B">2013B</option>
							    <option value="2014A">2014A</option>
							    <option value="2014B">2014B</option>
							    <option value="2015A">2015A</option>
							    <option value="2015B">2015B</option>
							    <option value="2016A">2016A</option>
							    <option value="2016B">2016B</option>
							    <option value="2017A" selected="selected">2017A</option>
						  	</select>
						</div> <br>
                    </form>
              	</div>
            </div>
      	</div>
    </div>
  	<!--<div class="row tile_count">
  		<h1 class="col-xs-8">Resultados de la busqueda</h1>
    	<div class="col-md-5 tile_stats_count">
      		<span class="count_top"><i class="fa fa-clock-o"></i> Calendario</span>
      		<div class="count">{{payment.calendar}}</div>
    	</div>
    	<div class="col-md-7 tile_stats_count">
      		<span class="count_top"><i class="fa fa-clock-o"></i> Carrera</span>
      		<div>
	      		<div class="count" ng-if="payment.career == 'INCO'">Ingeniería en computación</div>
				<div class="count" ng-if="payment.career == 'INNI'">Ingeniería en informática</div>
				<div class="count" ng-if="payment.career == 'INBI'">Ingeniería en biomédica</div>
				<div class="count" ng-if="payment.career == 'INCE'">Ingeniería en electrónica y comunicaciones</div>
    		</div>
  		</div>
    	<div class="col-md-5 tile_stats_count">
      		<span class="count_top"><i class="fa fa-user"></i> Total de Nominas pagas</span>
      		<div class="count">{{payment.data.registros}}</div>
    	</div>
    	<div class="col-md-5 tile_stats_count">
      		<span class="count_top"><i class="fa fa-clock-o"></i> Monto total</span>
      		<div class="count">{{payment.data.total_payment | currency:"MNX$"}}</div>
    	</div>
	</di>-->
	<div class="col-md-6">
      	<div class="x_panel">
            <div class="x_title">
              	<h2>Empleados mejor pagados en <small>INCO</small></h2>
              		<div class="clearfix"></div>
            </div>
            <div class="x_content">
              	<ul class="list-unstyled msg_list">
                    <li ng-repeat="inco in salary.inco">
                      	<a>
                        	<span class="image">
                          		<img src="public/image/img.jpg" alt="img" />
                        	</span>
                        	<span>
                          	<span>{{ inco.name + " " + inco.last_name }}</span>
                          		<span class="time">{{ inco.name_job }}</span>
                        	</span>
	                        <b>
	                        	<span class="message">
	                        	  	<i>{{ "   " + inco.total_salary| currency:"MNX $"}}</i>
	                        	</span>
                        	</b>
                      	</a>
                    </li>
              	</ul>
            </div>
      	</div>
    </div>
    <div class="col-md-6">
      	<div class="x_panel">
            <div class="x_title">
              	<h2>Empleados mejor pagados en <small>INNI</small></h2>
              		<div class="clearfix"></div>
            </div>
            <div class="x_content">
              	<ul class="list-unstyled msg_list">
                    <li ng-repeat="inni in salary.inni">
                      	<a>
                        	<span class="image">
                          		<img src="public/image/img.jpg" alt="img" />
                        	</span>
                        	<span>
                          	<span>{{ inni.name + " " + inni.last_name }}</span>
                          		<span class="time">{{ inni.name_job }}</span>
                        	</span>
	                        <b>
	                        	<span class="message">
	                        	  	<i>{{ "   " + inni.total_salary| currency:"MNX$"}}</i>
	                        	</span>
                        	</b>
                      	</a>
                    </li>
              	</ul>
            </div>
      	</div>
    </div>
    <div class="col-md-6">
      	<div class="x_panel">
            <div class="x_title">
              	<h2>Empleados mejor pagados en <small>INBI</small></h2>
              		<div class="clearfix"></div>
            </div>
            <div class="x_content">
              	<ul class="list-unstyled msg_list">
                    <li ng-repeat="inbi in salary.inbi">
                      	<a>
                        	<span class="image">
                          		<img src="public/image/img.jpg" alt="img" />
                        	</span>
                        	<span>
                          	<span>{{ inbi.name + " " + inbi.last_name }}</span>
                          		<span class="time">{{ inbi.name_job }}</span>
                        	</span>
	                        <b>
	                        	<span class="message">
	                        	  	<i>{{ "   " + inbi.total_salary| currency:"MNX$"}}</i>
	                        	</span>
                        	</b>
                      	</a>
                    </li>
              	</ul>
            </div>
      	</div>
    </div>
    <div class="col-md-6">
      	<div class="x_panel">
            <div class="x_title">
              	<h2>Empleados mejor pagados en <small>INCE</small></h2>
              		<div class="clearfix"></div>
            </div>
            <div class="x_content">
              	<ul class="list-unstyled msg_list">
                    <li ng-repeat="ince in salary.ince">
                      	<a>
                        	<span class="image">
                          		<img src="public/image/img.jpg" alt="img" />
                        	</span>
                        	<span>
                          	<span>{{ ince.name + " " + ince.last_name }}</span>
                          		<span class="time">{{ ince.name_job }}</span>
                        	</span>
	                        <b>
	                        	<span class="message">
	                        	  	<i>{{ "   " + ince.total_salary| currency:"MNX$"}}</i>
	                        	</span>
                        	</b>
                      	</a>
                    </li>
              	</ul>
            </div>
      	</div>
    </div>
</div>